.container {
  display: flex;
}

.flags_container {
  display: flex;
  position: absolute;
  left: 25px;
}

.links_container {
  display: flex;
  position: absolute;
  right: 25px;
}

.flag:hover {
  transform: scale(1.2);
}
